# C++ compiler.
build:linux --cxxopt=-std=c++20 --host_cxxopt=-std=c++20 --action_env=BAZEL_CXXOPTS="-std=c++20:-Wno-sign-compare:-Wno-attributes:-Werror"
build:osx --cxxopt=-std=c++20 --host_cxxopt=-std=c++20 --action_env=BAZEL_CXXOPTS="-std=c++20:-Wno-sign-compare:-Wno-attributes:-Werror"
build:windows --cxxopt /std:c++20

# Use protoc prebuilt bin (~4.5min -> ~1.1min)
build:linux --proto_compiler=@com_google_protobuf_protoc_linux//:bin/protoc

build:windows --proto_compiler=@com_google_protobuf_protoc_windows//:bin/protoc.exe

build:osx --proto_compiler=@com_google_protobuf_protoc_osx//:bin/protoc
