*

!third_party/
!editorhost/
!editorhost/*/
!BUILD
!BUILD.*
!WORKSPACE
!WORKSPACE.*
!LICENSE
!*.md
!*.h
!*.cc
!*.cpp
!*.proto
!*.yml

!.gitignore
!.clang-format
!.bazelrc
!.github/
!.github/workflows

*~
