*

!third_party/
!kodo/
!kodo/**/
!editorhost/
!editorhost/**/
!BUILD
!BUILD.*
!WORKSPACE
!WORKSPACE.*
!LICENSE
!*.md
!*.h
!*.cc
!*.cpp
!*.proto
!*.yml

!.gitignore
!.clang-format
!.bazelrc
!.bazeliskrc
!.github/
!.github/workflows

*~
